* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1e212d;
}

.item1 {
    height: 80px;
    width: 80px;
    border: 1px solid;
    border-color: #fff;
    border-top: black;
    border-radius: 50%;
    margin: 1em 0;
    padding: 1.4em;
    font-size: 32px;
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
    from{
    transform: rotate(0deg);
    }
    to {
    transform: rotate(359deg);
    }
}

.container p {
    color: white;
}